.mainLayout {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--color-blue-400);
  font-size: var(--font-size-200);
  font-family: Assistant, sans-serif;
  font-style: normal;
  line-height: 1.5;
  text-rendering: optimizespeed;
  background-color: var(--color-white);
  
  main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
}
